<li class="self-service-list__item t-firm-list-item <%= 't-trading-name' if firm.trading_name? %>">
  <div class="self-service-list__item__type t-type">
    <%= firm_type_label(firm) %>
  </div>
  <div class="self-service-list__item__name t-name">
    <%= firm.registered_name %>
  </div>
</li>
