<div class="panel t-onboarding-message">
  <p>
    Welcome. In order for us to display your firm(s) or trading name(s) on the Retirement Adviser Directory (RAD), we need a bit more information. You need to fill out details for at least one firm or trading name, and include at least one office and one adviser.
  </p>
  <p>
    Wherever you see
    <%= status_icon('exclamation') %>
    it means there is something that needs more information.
  </p>
</div>
