<div class="row">
  <div class="col-xs-12">
    <h1>
      Snapshot
      <small><%= @snapshot.created_at.strftime('%e %B %Y') %></small>
    </h1>
  </div>
</div>

<table class="table table-bordered table-striped t-table">
  <thead>
    <th>Metric</th>
    <th>Value</th>
  </thead>

  <tbody>
    <% @attributes.each do |key| %>
      <tr>
        <td><%= t("snapshot.attributes.#{key}") %></td>
        <td><%= @snapshot[key] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
