<div class="form-group">
  <%= f.label :travel_insurance_firm_registered_name_cont, 'Search Firm Names' %>
  <%= f.search_field :travel_insurance_firm_registered_name_cont, class: 'form-control t-registered-name-field' %>
</div>
