<h2>24 hour activity</h2>

<img src="https://www.hostedgraphite.com/65957461/bf4907a2-4ea5-4f6d-b837-3625881d24e5/graphite/render/?width=1200&height=300&_salt=1422547406.062&lineMode=connected&hideAxes=false&graphOnly=false&hideYAxis=false&hideGrid=false&areaAlpha=&title=24+hours&from=-24hours&target=gauges.radsignup.adviser.registered&target=gauges.radsignup.firm.registered#1423063327208&.png" class="graphite-graph">

<h2>3 day activity</h2>

<img src="https://www.hostedgraphite.com/65957461/bf4907a2-4ea5-4f6d-b837-3625881d24e5/graphite/render/?width=1200&height=300&_salt=1422547406.062&lineMode=connected&hideAxes=false&graphOnly=false&hideYAxis=false&hideGrid=false&areaAlpha=&title=3+days&from=-72hours&target=gauges.radsignup.adviser.registered&target=gauges.radsignup.firm.registered#1423063327208&.png" class="graphite-graph">

<h2>7 day activity</h2>

<img src="https://www.hostedgraphite.com/65957461/bf4907a2-4ea5-4f6d-b837-3625881d24e5/graphite/render/?width=1200&height=300&_salt=1422547406.062&lineMode=connected&hideAxes=false&graphOnly=false&hideYAxis=false&hideGrid=false&areaAlpha=&title=7+days&from=-168hours&target=gauges.radsignup.adviser.registered&target=gauges.radsignup.firm.registered#1423063327208&.png" class="graphite-graph">
