<div class="l-constrained">
  <div class="l-firm">
    <%= heading_tag(t('firms.title'), level: 1) %>
    <p><%= t('firms.introduction') %></p>
    <%= heading_tag(t('firms.heading_one'), level: 2, class: 'l-firm__subheading') %>
  </div>

  <div class="l-firm l-firm--modules">
    <section class="firm">
      <%= heading_tag('Blackrock Venture Startup Investments Group Limited', level: 3, class: 'firm__title') %>
      <p class="firm__number">FCA number: 123456789</p>
      <div class="firm__button">
        <%= button_primary t('firms.select_firm') %>
      </div>
    </section>

    <%= heading_tag(t('firms.heading_two'), level: 2, class: 'l-firm__subheading') %>

    <section class="firm">
      <%= heading_tag('Blackrock Investments', level: 3, class: 'firm__title') %>
      <div class="firm__button">
        <%= button_primary t('firms.select_firm') %>
      </div>
    </section>

    <section class="firm">
      <%= heading_tag('Blackrock  Venture Startup Investments Group Limited', level: 3, class: 'firm__title') %>
      <div class="firm__button">
        <%= button_primary t('firms.select_firm') %>
      </div>
    </section>

    <section class="firm">
      <%= heading_tag('Blackrock Investments', level: 3, class: 'firm__title') %>
      <div class="firm__button">
        <%= button_primary t('firms.select_firm') %>
      </div>
    </section>

    <section class="firm">
      <%= heading_tag('Blackrock Investments', level: 3, class: 'firm__title') %>
      <div class="firm__button">
        <%= button_primary t('firms.select_firm') %>
      </div>
    </section>

    <section class="firm">
      <%= heading_tag('Blackrock Investments', level: 3, class: 'firm__title') %>
      <div class="firm__button">
        <%= button_primary t('firms.select_firm') %>
      </div>
    </section>
  </div>
</div>
