<h1>Upload of <%= @filename %> complete!</h1>
<p>
  Once you have received an email for each update please proceed to the
  <%= link_to 'import page', upload_status_admin_lookup_fca_import_index_url %>.
</p>
