<div class="l-1col">
  <%= heading_tag('MoneyHelper directories', level: 1) %>
</div>

<div class="l-2col">
  <section class="l-2col-main">
    <ul>
      <li><a href="https://www.moneyhelper.org.uk/en/everyday-money/insurance/travel-insurance-directory">Travel Insurance Directory</a></li>
      <li>Retirement Adviser Directory — now closed.</li>
    </ul>
  </section>
</div>
