<div class="l-1col">
  <%= heading_tag('The Retirement Adviser Directory is retiring', level: 1) %>
  <p class="intro">The MoneyHelper Retirement Adviser Directory will close on 17 December 2025</p>
</div>

<div class="l-2col">
  <section class="l-2col-side l-2col-side--pull-right">
    <%= render 'shared/sign_in_panel' %>
  </section>

  <section class="l-2col-main">
    <p>The Retirement Adviser Directory (RAD) was launched in 2015 to help
    consumers find regulated financial advice in response to the introduction
    of Pension Freedoms. At the time, there was a clear gap in the market for
    an impartial database of retirement advisers to help consumers navigate
    complex decisions.</p>
    <p>Over the past decade, the financial advice landscape has evolved
    significantly. A range of commercial and professional directories now offer
    search capabilities, verified reviews and adviser matching services. In
    parallel, the advice landscape is evolving with the Advice Guidance
    Boundary Review and the Pensions Schemes Bill. This means that the original
    gap the RAD was designed to fill no longer exists.</p>
    <p>Following a comprehensive review, MaPS has decided to decommission the
    RAD. This decision reflects both the changing market and MaPS’ shift toward
    supporting consumers through improved guidance and signposting, rather than
    maintaining a standalone adviser directory.</p>
    <p>The RAD will be decommissioned on 17 December 2025.  The decommissioning
    will be carefully managed to ensure continuity of support for consumers and
    stakeholders, with new guidance and signposting being developed to meet
    current needs.</p>
    <p>You will not be required to take any action, but should you have any
    queries please contact <a href="mailto:radenquiries@maps.org.uk">radenquiries@maps.org.uk</a></p>
  </section>
</div>
