<p>Reference number of firm (FRN): <%= @principal_details[:fca_number] %></p>
<p>First and Last name of senior manager: <%= @principal_details[:first_name] %> <%= @principal_details[:last_name] %></p>
<p>Email of senior manager: <%= @principal_details[:email] %></p>
