.rad-notification {
  background: $color-rad-notification-message-bg;
  @include clearfix();
  border-radius: $rad-notification-radius;
  margin-top: $baseline-unit * 4;
  position: relative;
}

.rad-notification__content-container {
  min-height: $baseline-unit*4;
  padding: $baseline-unit*2 20px 0 35px;
  position: relative;

  overflow: auto;

  @include respond-to($mq-m) {
    min-height: $baseline-unit*8;
    padding-left: 70px;
  };


  &:before {
    background: $color-rad-notification-default;
    bottom: 0;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: $baseline-unit*4;

    border-bottom-left-radius: $rad-notification-radius;
    border-top-left-radius: $rad-notification-radius;

    @include respond-to($mq-m) {
      width: $baseline-unit*8;
    };
  }
}

.rad-notification__content-container--error:before,
.rad-notification__content-container--alert:before {
  background-color: $color-rad-notification-error;
}

.rad-notification__content-container--onboarding:before {
  background-color: $color-rad-notification-warning;
}

.rad-notification__heading {
  display: block;
  font-weight: 700;
  margin-bottom: $baseline-unit;
}

.rad-notification__message {
  @extend %type-small;
  margin: 0;
  padding-bottom: $baseline-unit*2;
}

