$rad-notification-radius: 5px;
$color-rad-notification-message-bg: $color-global-alert-message-bg;
$color-rad-notification-default: $color-global-alert-default;
$color-rad-notification-error: $color-global-alert-error;
