<table class="table table-bordered">
  <thead>
    <tr>
      <th>FCA Number</th>
      <th>Firm Registered Name</th>
      <% if display_invitation_accepted_at %>
        <th>Last signed in at</th>
      <% end %>
      <th>Principal email</th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
    <tr>
      <td><%= user.principal.firm.fca_number %></td>
      <td><%= user.principal.firm.registered_name %></td>
      <% if display_invitation_accepted_at %>
        <td><%= user.last_sign_in_at.to_s(:long) %></td>
      <% end %>
      <td><%= user.principal.email_address %></td>
    </tr>
    <% end %>
  </tbody>
</table>
