<section class="l-notice">
  <%= heading_tag(t('success.heading'), level: 1, class: '') %>
  <p><%= t('success.message') %></p>
  <p><%= t('success.contact_us') %> <%= mail_to admin_email_address, admin_email_address %></p>
</section>
