<%= render_breadcrumbs(breadcrumbs_firm_offices) %>
<h1 class="t-page-title"><%= t('self_service.offices_index.title', firm_name: @firm.registered_name) %></h1>

<table>
  <tr class="t-office-table-row"><td></td></tr>
</table>
