---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=EH1%202AS,%20United%20Kingdom&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "EH1 2AS",
                       "short_name" : "EH1 2AS",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Edinburgh",
                       "short_name" : "Edinburgh",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Edinburgh",
                       "short_name" : "Edinburgh",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Edinburgh",
                       "short_name" : "Edinburgh",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Edinburgh, Edinburgh, Edinburgh EH1 2AS, UK",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 55.9489386,
                          "lng" : -3.2079256
                       },
                       "southwest" : {
                          "lat" : 55.9481028,
                          "lng" : -3.2091377
                       }
                    },
                    "location" : {
                       "lat" : 55.9486454,
                       "lng" : -3.20845
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 55.9498696802915,
                          "lng" : -3.207182669708498
                       },
                       "southwest" : {
                          "lat" : 55.94717171970851,
                          "lng" : -3.209880630291502
                       }
                    }
                 },
                 "place_id" : "ChIJwaJxwaLHh0gRo361f5omYsw",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 10 Nov 2015 15:35:57 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=EH1%203DX,%20United%20Kingdom&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
          [...]
