---
http_interactions:
- request:
    method: get
    uri: https://register.fca.org.uk/services/V0.1/Firm/100015
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Email:
      - margo.urey@moneyadviceservice.org.uk
      X-Auth-Key:
      - 8c5e94fd07d788dfbdf14fcb6c7e836f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":"FSR-API-02-01-00","ResultInfo":{"page":"1","per_page":"1","total_count":"1"},"Message":"Ok.
        Firm Found","Data":[{"Name":"https://register.fca.org.uk/services/V0.1/Firm/100015/Names","Individuals":"https://register.fca.org.uk/services/V0.1/Firm/100015/Individuals","Requirements":"https://register.fca.org.uk/services/V0.1/Firm/100015/Requirements","Permission":"https://register.fca.org.uk/services/V0.1/Firm/100015/Permissions","Passport":"https://register.fca.org.uk/services/V0.1/Firm/100015/Passports","Regulators":"https://register.fca.org.uk/services/V0.1/Firm/100015/Regulators","Appointed
        Representative":"https://register.fca.org.uk/services/V0.1/Firm/100015/AR","Address":"https://register.fca.org.uk/services/V0.1/Firm/100015/Address","Waivers":"https://register.fca.org.uk/services/V0.1/Firm/100015/Waivers","Exclusions":"https://register.fca.org.uk/services/V0.1/Firm/100015/Exclusions","DisciplinaryHistory":"https://register.fca.org.uk/services/V0.1/Firm/100015/DisciplinaryHistory","System
        Timestamp":"29/07/2021 14:54","Exceptional Info Title":"","Exceptional Info
        Body":"","Status Effective Date":"01/12/2001","E-Money Agent Status":"","PSD
        / EMD Effective Date":"","Client Money Permission":"Not hold and not control
        client money","Sub Status Effective from":"","Sub-Status":"","Mutual Society
        Number":"485B","Companies House Number":"IP00485B","MLRs Status Effective
        Date":"","MLRs Status":"","E-Money Agent Effective Date":"","PSD Agent Effective
        date":"","PSD Agent Status":"","PSD / EMD Status":"","Status":"Authorised","Business
        Type":"Regulated","Organisation Name":"Saffron Building Society","FRN":"100015"}]}'
  recorded_at: Thu, 29 Jul 2021 14:54:23 GMT
recorded_with: VCR 4.0.0
