---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=364%20Tyrel%20Way,%20Suite%20323,%20EC1N%202TD,%20United%20Kingdom&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "EC1N 2TD",
                       "short_name" : "EC1N 2TD",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "London",
                       "short_name" : "London",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "London",
                       "short_name" : "London",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Greater London",
                       "short_name" : "Gt Lon",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "London EC1N 2TD, UK",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 51.5182639,
                          "lng" : -0.1078729
                       },
                       "southwest" : {
                          "lat" : 51.5173261,
                          "lng" : -0.1094075
                       }
                    },
                    "location" : {
                       "lat" : 51.5180697,
                       "lng" : -0.1085203
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 51.5191439802915,
                          "lng" : -0.107291219708498
                       },
                       "southwest" : {
                          "lat" : 51.5164460197085,
                          "lng" : -0.109989180291502
                       }
                    }
                 },
                 "partial_match" : true,
                 "place_id" : "ChIJ5_7trE0bdkgRKFWaw55y3rM",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 10 Nov 2015 15:51:34 GMT
recorded_with: VCR 2.9.3
