---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=EH11%202AB,%20United%20Kingdom&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "EH11 2AB",
                       "short_name" : "EH11 2AB",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Edinburgh",
                       "short_name" : "Edinburgh",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Edinburgh",
                       "short_name" : "Edinburgh",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Edinburgh",
                       "short_name" : "Edinburgh",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Edinburgh, Edinburgh, Edinburgh EH11 2AB, UK",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 55.9438156,
                          "lng" : -3.2188073
                       },
                       "southwest" : {
                          "lat" : 55.9432559,
                          "lng" : -3.2197304
                       }
                    },
                    "location" : {
                       "lat" : 55.9435255,
                       "lng" : -3.2192103
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 55.9448847302915,
                          "lng" : -3.217919869708498
                       },
                       "southwest" : {
                          "lat" : 55.9421867697085,
                          "lng" : -3.220617830291502
                       }
                    }
                 },
                 "place_id" : "ChIJKQxzD6bHh0gRyUDWgg-clYQ",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 10 Nov 2015 16:52:24 GMT
recorded_with: VCR 2.9.3
