---
http_interactions:
- request:
    method: get
    uri: https://register.fca.org.uk/services/V0.1/Firm/100044
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Email:
      - margo.urey@moneyadviceservice.org.uk
      X-Auth-Key:
      - 8c5e94fd07d788dfbdf14fcb6c7e836f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":"FSR-API-02-01-00","ResultInfo":{"page":"1","per_page":"1","total_count":"1"},"Message":"Ok.
        Firm Found","Data":[{"Name":"https://register.fca.org.uk/services/V0.1/Firm/100044/Names","Individuals":"https://register.fca.org.uk/services/V0.1/Firm/100044/Individuals","Requirements":"https://register.fca.org.uk/services/V0.1/Firm/100044/Requirements","Permission":"https://register.fca.org.uk/services/V0.1/Firm/100044/Permissions","Passport":"https://register.fca.org.uk/services/V0.1/Firm/100044/Passports","Regulators":"https://register.fca.org.uk/services/V0.1/Firm/100044/Regulators","Appointed
        Representative":"https://register.fca.org.uk/services/V0.1/Firm/100044/AR","Address":"https://register.fca.org.uk/services/V0.1/Firm/100044/Address","Waivers":"https://register.fca.org.uk/services/V0.1/Firm/100044/Waivers","Exclusions":"https://register.fca.org.uk/services/V0.1/Firm/100044/Exclusions","DisciplinaryHistory":"https://register.fca.org.uk/services/V0.1/Firm/100044/DisciplinaryHistory","System
        Timestamp":"30/07/2021 07:41","Exceptional Info Title":"","Exceptional Info
        Body":"","Status Effective Date":"09/07/2002","E-Money Agent Status":"","PSD
        / EMD Effective Date":"","Client Money Permission":"Not hold and not control
        client money","Sub Status Effective from":"","Sub-Status":"","Mutual Society
        Number":"","Companies House Number":"","MLRs Status Effective Date":"","MLRs
        Status":"","E-Money Agent Effective Date":"","PSD Agent Effective date":"","PSD
        Agent Status":"","PSD / EMD Status":"","Status":"No longer authorised","Business
        Type":"Regulated","Organisation Name":"Davies Watson","FRN":"100044"}]}'
  recorded_at: Fri, 30 Jul 2021 07:41:01 GMT
recorded_with: VCR 4.0.0
