---
http_interactions:
- request:
    method: get
    uri: https://register.fca.org.uk/services/V0.1/Firm/100014
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Email:
      - margo.urey@moneyadviceservice.org.uk
      X-Auth-Key:
      - 8c5e94fd07d788dfbdf14fcb6c7e836f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":"FSR-API-02-01-00","ResultInfo":{"page":"1","per_page":"1","total_count":"1"},"Message":"Ok.
        Firm Found","Data":[{"Name":"https://register.fca.org.uk/services/V0.1/Firm/100014/Names","Individuals":"https://register.fca.org.uk/services/V0.1/Firm/100014/Individuals","Requirements":"https://register.fca.org.uk/services/V0.1/Firm/100014/Requirements","Permission":"https://register.fca.org.uk/services/V0.1/Firm/100014/Permissions","Passport":"https://register.fca.org.uk/services/V0.1/Firm/100014/Passports","Regulators":"https://register.fca.org.uk/services/V0.1/Firm/100014/Regulators","Appointed
        Representative":"https://register.fca.org.uk/services/V0.1/Firm/100014/AR","Address":"https://register.fca.org.uk/services/V0.1/Firm/100014/Address","Waivers":"https://register.fca.org.uk/services/V0.1/Firm/100014/Waivers","Exclusions":"https://register.fca.org.uk/services/V0.1/Firm/100014/Exclusions","DisciplinaryHistory":"https://register.fca.org.uk/services/V0.1/Firm/100014/DisciplinaryHistory","System
        Timestamp":"04/08/2021 18:29","Exceptional Info Title":"","Exceptional Info
        Body":"","Status Effective Date":"01/12/2001","E-Money Agent Status":"","PSD
        / EMD Effective Date":"","Client Money Permission":"Not hold and not control
        client money","Sub Status Effective from":"","Sub-Status":"","Mutual Society
        Number":"323B","Companies House Number":"323B","MLRs Status Effective Date":"","MLRs
        Status":"","E-Money Agent Effective Date":"","PSD Agent Effective date":"","PSD
        Agent Status":"","PSD / EMD Status":"","Status":"Authorised","Business Type":"Regulated","Organisation
        Name":"Leek United Building Society","FRN":"100014"}]}'
  recorded_at: Wed, 04 Aug 2021 18:29:48 GMT
recorded_with: VCR 4.0.0
