---
http_interactions:
- request:
    method: get
    uri: https://register.fca.org.uk/services/V0.1/Firm/666666
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Email:
      - margo.urey@moneyadviceservice.org.uk
      X-Auth-Key:
      - 8c5e94fd07d788dfbdf14fcb6c7e836f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":"FSR-API-02-01-11","ResultInfo":null,"Message":"Firm not
        found","Data":null}'
  recorded_at: Wed, 04 Aug 2021 18:29:46 GMT
recorded_with: VCR 4.0.0
