---
http_interactions:
- request:
    method: post
    uri: http://api.postcodes.io/postcodes
    body:
      encoding: US-ASCII
      string: postcodes=BT1+6DP&postcodes=EC1N+2TD
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5fa-KeTdVPkk4A1KYmVY4WsZnH6GE7Q"
      X-Gnu:
      - Michael J Blanchard
    body:
      encoding: UTF-8
      string: '{"status":200,"result":[{"query":"BT1 6DP","result":{"postcode":"BT1
        6DP","quality":1,"eastings":333445,"northings":373966,"country":"Northern
        Ireland","nhs_ha":"ZB001","longitude":-5.936082,"latitude":54.59631,"european_electoral_region":"Northern
        Ireland","primary_care_trust":"Belfast","region":null,"lsoa":"Shaftesbury
        1","msoa":null,"incode":"6DP","outcode":"BT1","parliamentary_constituency":"Belfast
        South","admin_district":"Belfast","parish":null,"admin_county":null,"admin_ward":"Central","ced":null,"ccg":"Belfast","nuts":"Belfast","codes":{"admin_district":"N09000003","admin_county":"N99999999","admin_ward":"N08000315","parish":"N99999999","parliamentary_constituency":"N06000003","ccg":"ZC010","ced":"N99999999","nuts":"UKN06"}}},{"query":"EC1N
        2TD","result":{"postcode":"EC1N 2TD","quality":1,"eastings":531336,"northings":181601,"country":"England","nhs_ha":"London","longitude":-0.10852,"latitude":51.51807,"european_electoral_region":"London","primary_care_trust":"Camden","region":"London","lsoa":"Camden
        027C","msoa":"Camden 027","incode":"2TD","outcode":"EC1N","parliamentary_constituency":"Holborn
        and St Pancras","admin_district":"Camden","parish":"Camden, unparished area","admin_county":null,"admin_ward":"Holborn
        and Covent Garden","ced":null,"ccg":"NHS Camden","nuts":"Camden and City of
        London","codes":{"admin_district":"E09000007","admin_county":"E99999999","admin_ward":"E05000138","parish":"E43000197","parliamentary_constituency":"E14000750","ccg":"E38000027","ced":"E99999999","nuts":"UKI31"}}}]}'
  recorded_at: Mon, 25 Mar 2019 15:31:47 GMT
recorded_with: VCR 4.0.0
