---
http_interactions:
- request:
    method: get
    uri: https://register.fca.org.uk/services/V0.1/Firm/311244
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Email:
      - "<X-Auth-Email>"
      X-Auth-Key:
      - "<X-Auth-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":"FSR-API-02-01-00","ResultInfo":{"page":"1","per_page":"1","total_count":"1"},"Message":"Ok.
        Firm Found","Data":[{"Name":"https://register.fca.org.uk/services/V0.1/Firm/311244/Names","Individuals":"https://register.fca.org.uk/services/V0.1/Firm/311244/Individuals","Requirements":"https://register.fca.org.uk/services/V0.1/Firm/311244/Requirements","Permission":"https://register.fca.org.uk/services/V0.1/Firm/311244/Permissions","Passport":"https://register.fca.org.uk/services/V0.1/Firm/311244/Passports","Regulators":"https://register.fca.org.uk/services/V0.1/Firm/311244/Regulators","Appointment
        Rep":"https://register.fca.org.uk/services/V0.1/Firm/311244/AR","Address":"https://register.fca.org.uk/services/V0.1/Firm/311244/Address","Waivers":"https://register.fca.org.uk/services/V0.1/Firm/311244/Waivers","Exclusions":"https://register.fca.org.uk/services/V0.1/Firm/311244/Exclusions","DisciplinaryHistory":"https://register.fca.org.uk/services/V0.1/Firm/311244/DisciplinaryHistory","System
        Timestamp":"21/11/2019 11:00","Status Effective Date":"14/01/2005","PSD Agent
        Status":"","PSD Firm Status":"","Status":"Authorised","Business Type":"Regulated","Organisation
        Name":"AllClear Insurance Services Ltd","FRN":"311244"}]}'
  recorded_at: Thu, 21 Nov 2019 11:00:34 GMT
recorded_with: VCR 4.0.0
