---
http_interactions:
- request:
    method: get
    uri: https://register.fca.org.uk/services/V0.1/Firm/311244
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Email:
      - "<X-Auth-Email>"
      X-Auth-Key:
      - "<X-Auth-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":"FSR-API-02-01-00","ResultInfo":{"page":"1","per_page":"1","total_count":"1"},"Message":"Ok.
        Firm Found","Data":[{"Name":"https://register.fca.org.uk/services/V0.1/Firm/311244/Names","Individuals":"https://register.fca.org.uk/services/V0.1/Firm/311244/Individuals","Requirements":"https://register.fca.org.uk/services/V0.1/Firm/311244/Requirements","Permission":"https://register.fca.org.uk/services/V0.1/Firm/311244/Permissions","Passport":"https://register.fca.org.uk/services/V0.1/Firm/311244/Passports","Regulators":"https://register.fca.org.uk/services/V0.1/Firm/311244/Regulators","Appointed
        Representative":"https://register.fca.org.uk/services/V0.1/Firm/311244/AR","Address":"https://register.fca.org.uk/services/V0.1/Firm/311244/Address","Waivers":"https://register.fca.org.uk/services/V0.1/Firm/311244/Waivers","Exclusions":"https://register.fca.org.uk/services/V0.1/Firm/311244/Exclusions","DisciplinaryHistory":"https://register.fca.org.uk/services/V0.1/Firm/311244/DisciplinaryHistory","System
        Timestamp":"06/09/2021 18:52","Exceptional Info Title":"","Exceptional Info
        Body":"","Status Effective Date":"14/01/2005","E-Money Agent Status":"","PSD
        / EMD Effective Date":"","Client Money Permission":"Not hold and not control
        client money","Sub Status Effective from":"","Sub-Status":"","Mutual Society
        Number":"","Companies House Number":"04255112","MLRs Status Effective Date":"","MLRs
        Status":"","E-Money Agent Effective Date":"","PSD Agent Effective date":"","PSD
        Agent Status":"","PSD / EMD Status":"","Status":"Authorised","Business Type":"Regulated","Organisation
        Name":"AllClear Insurance Services Ltd","FRN":"311244"}]}'
  recorded_at: Mon, 06 Sep 2021 18:52:27 GMT
- request:
    method: get
    uri: https://register.fca.org.uk/services/V0.1/Individuals/LXD25428
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Email:
      - "<X-Auth-Email>"
      X-Auth-Key:
      - "<X-Auth-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":"FSR-API-03-01-00","ResultInfo":{"page":"1","per_page":"1","total_count":"1"},"Message":"Ok.
        Individual found","Data":[{"Details":{"Current roles & activities":"https://register.fca.org.uk/services/V0.1/Individuals/LXD25428/CF","IRN":"LXD25428","Commonly
        Used Name":"null","Status":"Approved by regulator","Full Name":"Linda Davis"}}]}'
  recorded_at: Mon, 06 Sep 2021 18:52:29 GMT
recorded_with: VCR 4.0.0
