---
http_interactions:
- request:
    method: post
    uri: http://api.postcodes.io/postcodes
    body:
      encoding: US-ASCII
      string: postcodes=CF14+4HY&postcodes=EC1N+2TD
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"670-5fyaq+z37gTMxvobu+/0AWoK0NA"
      X-Gnu:
      - Michael J Blanchard
    body:
      encoding: UTF-8
      string: '{"status":200,"result":[{"query":"CF14 4HY","result":{"postcode":"CF14
        4HY","quality":1,"eastings":317199,"northings":180917,"country":"Wales","nhs_ha":"Cardiff
        and Vale University Health Board","longitude":-3.194807,"latitude":51.521078,"european_electoral_region":"Wales","primary_care_trust":"Cardiff
        and Vale University Health Board","region":null,"lsoa":"Cardiff 018C","msoa":"Cardiff
        018","incode":"4HY","outcode":"CF14","parliamentary_constituency":"Cardiff
        North","admin_district":"Cardiff","parish":"Heath","admin_county":null,"admin_ward":"Heath","ced":null,"ccg":"Cardiff
        and Vale University Health Board","nuts":"Cardiff and Vale of Glamorgan","codes":{"admin_district":"W06000015","admin_county":"W99999999","admin_ward":"W05000864","parish":"W04000848","parliamentary_constituency":"W07000051","ccg":"W11000029","ced":"W99999999","nuts":"UKL22"}}},{"query":"EC1N
        2TD","result":{"postcode":"EC1N 2TD","quality":1,"eastings":531336,"northings":181601,"country":"England","nhs_ha":"London","longitude":-0.10852,"latitude":51.51807,"european_electoral_region":"London","primary_care_trust":"Camden","region":"London","lsoa":"Camden
        027C","msoa":"Camden 027","incode":"2TD","outcode":"EC1N","parliamentary_constituency":"Holborn
        and St Pancras","admin_district":"Camden","parish":"Camden, unparished area","admin_county":null,"admin_ward":"Holborn
        and Covent Garden","ced":null,"ccg":"NHS Camden","nuts":"Camden and City of
        London","codes":{"admin_district":"E09000007","admin_county":"E99999999","admin_ward":"E05000138","parish":"E43000197","parliamentary_constituency":"E14000750","ccg":"E38000027","ced":"E99999999","nuts":"UKI31"}}}]}'
  recorded_at: Mon, 25 Mar 2019 15:31:45 GMT
recorded_with: VCR 4.0.0
