<%= render_breadcrumbs(breadcrumbs_travel_insurance_firm_office) %>

<h1>
  <%= t('self_service.travel_insurance_office.title') %>
</h1>

<%= form_for @office,
             url: self_service_travel_insurance_firm_offices_path(@firm),
             builder: Dough::Forms::Builders::Validation,
             html: { class: 'form' } do |f| %>

  <%= render partial: 'self_service/travel_insurance_offices/form', locals: { f: f } %>

<% end %>
