body {
  font-family: 'museo_sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.4;
  font-weight: 300;
  color: #6a6d6d;
  margin: 0;
}

/* Headings */
h1, h2, h3, h4 {
  color: #61a612;
}

h1 {
  font-size: 28px;
  margin: 2em 0 1em 0;
}

.l-constrained {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}

.l-error {
  overflow: hidden;
  height: 100%;
  min-height: 600px;
}

.l-error__description {
  font-size: 18px;
}

.l-header {
  background-color: #428513;
  height: 72px;
}

.l-footer {
  height: 120px;
  border-top: 1px solid #ECF0EF;
  background-color: #F2F4F4;
}

.l-error__useful-links {
  font-size: 1em;
  margin-top: 3em;
}

.l-error__useful-links-heading {
  margin-bottom: 1.5em;
  font-size: 1.125em;
  color: #2e3030;
}

.l-error__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.l-error__list-item {
  margin-bottom: 0.75em;
}

.l-error__link {
  margin: 0.75em 0;
}

.l-error__link:link,
.l-error__link:visited {
  text-decoration: none;
  color: #1f6faa;
}

.l-error__link:hover,
.l-error__link:focus {
  text-decoration: underline;
}

.mas-logo__img {
  margin-top: 0.6em;
  width: 260px;
  height: auto;
}

@media (min-width: 768px) {
  h1 {
    font-size: 40px;
    margin: 4em 0 0.5em 0;
  }

  .l-error__description {
    margin-top: 0;
  }

  .l-error__useful-links {
    margin-top: 6em;
  }
}
