.l-adviser-sign-in {
  background-color: $background-color--light;
}

.l-adviser-sign-in__link {
  @include column(12);
  margin-top: $baseline-unit*2;
  margin-bottom: $baseline-unit*2;
  text-align: right;
  display: block;
}
