.l-adviser-table {
  min-width: 100%;

  .reference-number-heading {
    width: 10%;
  }

  .name-heading {
    width: 20%;
  }

  .qualifications-heading {
    width: 60%;
  }

  .postcode-heading {
    width: 10%;
  }
}
