.l-comma-separated-list {
  @extend .unstyled-list;
  font-size: inherit;

  li {
    display: inline;

    &:after {
      content: ', ';
    }

    &:last-child:after {
      content: '.';
    }
  }
}
