// Temporary styles for the Adviser Acquisition site footer. Based on the style on the main website.

.l-footer {
  height: $baseline-unit*20;
  border-top: $default-border-thin;
  background-color: $background-color--light;
}
