%heading-with-action {
  @include clearfix();
  @extend %heading-medium;
  font-size: inherit;
  font-weight: inherit;

  h1,
  h2,
  h3 {
    float: left;
    margin: 0;
  }
}

.l-heading-with-button {
  @extend %heading-with-action;

  .button {
    float: right;
  }
}

