%heading-with-action {
  @include clearfix();
  @extend %heading-medium;
  position: relative;
  font-size: inherit;
  font-weight: inherit;


  h1,
  h2,
  h3 {
    margin: 0;
    margin-bottom: $baseline-unit*2;

    @include respond-to($mq-m) {
      margin-bottom: 0;
      float: left;
    }
  }
}

.l-heading-with-button {
  @extend %heading-with-action;

  @include respond-to($mq-m) {
    h1,
    h2,
    h3 {
        padding-right: 5em;
    }

    .button {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
