$notification-radius: 5px;

.global-alert {
  border-radius: $notification-radius;
  margin-top: $baseline-unit * 4;
  position: relative;
}

.global-alert__content-container {
  overflow: auto;
}

.global-alert__content-container:before {
  border-bottom-left-radius: $notification-radius;
  border-top-left-radius: $notification-radius;
}

.global-alert--alert .global-alert__content-container.global-alert__content-container--alert:before {
  background-color: $color-red-medium;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: image-url('icon-cross.svg');
}

.global-alert__content-container--info:before {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: image-url('icon-tick.svg');
}

.global-alert__content-container--notice:before {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: image-url('icon-tick.svg');
}

.global-alert__content-container--success:before {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: image-url('icon-tick.svg');
}

.global-alert__content-container--onboarding:before {
  background-color: $warning_orange;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: image-url('icon-exclamation.svg');
}

.global-alert--error .global-alert__content-container.global-alert__content-container--error:before {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: image-url('icon-cross.svg');
}
