.l-pre-qualification {
  @include column(12);
  margin-bottom: $baseline-unit*8;

  @include respond-to($mq-m) {
    @include column(9);
  }

  @include respond-to($mq-l) {
    @include column(7);
  }
}

.l-pre-qualification__intro-text {
  margin-bottom: $baseline-unit*8;
}

.l-pre-qualification__question {
  @include body(22,30);
  font-weight: 700;
  color: $color-heading-default;
}

.l-pre-qualification__question--with-desc {
  margin-bottom: 0;
}

.l-pre-qualification__explanation {
  margin-bottom: $baseline-unit*10;
}
