.l-pre-qualification-questions {
  @include column(12);
  margin-bottom: $baseline-unit*8;

  @include respond-to($mq-m) {
    @include column(7);
  }
}

.l-pre-qualification-questions__try-again {
  @include inline-block;
  margin-top: $baseline-unit*2;
}

.l-pre-qualification-questions__heading {
  margin-top: $baseline-unit*5;
  margin-bottom: 0;
}

.l-pre-qualification-questions__subheading {
  font-weight: 500;
}

.l-pre-qualification-questions__question {
  @include body(22,30);
  font-weight: 700;
  color: $color-heading-default;
  margin-bottom: 0;

  + p {
    margin-top: 0;
  }
}

.l-pre-qualification-questions__question-group {
  margin-top: $baseline-unit*6;
  margin-bottom: $baseline-unit*6;
}

.l-pre-qualification-questions__input {
  margin-right: $baseline-unit*2;
}

.l-pre-qualification-questions__label {
  margin-right: $baseline-unit*2;
}

.l-pre-qualification-questions__contact-form {
  margin-top: $baseline-unit*10;
}

.l-pre-qualification-questions__contact-form-input,
.l-pre-qualification-questions__contact-form-textarea {
  margin-top: $baseline-unit*2;
  margin-bottom: $baseline-unit*4;
}

.l-pre-qualification-questions__checkbox {
  margin-top: 5px;
  float: left;
}

.l-pre-qualification-questions__disclaimer-label {
  margin-left: $baseline-unit*4;
  display: block;
}

.l-pre-qualification-questions__hr {
  margin-top: $baseline-unit*6;
}
