.l-questionnaire {
  @include column(12);
  margin-bottom: $baseline-unit*8;

  @include respond-to($mq-l) {
    @include column(7);
  }
}

.l-questionnaire__row {
  @include row(12);
}

.l-questionnaire__field {
  @include column(12);

  @include respond-to($mq-m) {
    @include column(7);
  }
}

.l-questionnaire__callout {
  margin-top: -$baseline-unit*3;
  margin-bottom: $baseline-unit*10;
}

.l-questionnaire__button {
  margin-top: $baseline-unit*10;
}

.l-questionnaire__two-cols {
  @include respond-to($mq-m) {
    float: left;
    width: 50%;
  }
}

.l-questionnaire__section-description {
  margin-bottom: $baseline-unit*6;
}

.l-questionnaire__section-description--collapsed {
  margin: 0;
}

.l-questionnaire__legend {
  @include body(18,24);
  font-weight: 700;
  color: $color-green-secondary;

  + p {
    margin-top: 0;
    margin-bottom: $baseline-unit*4;
  }
}
