$color-firm-list-border-grey: #ccc;

.firm-list {
  @extend .unstyled-list;
}

.firm-list__item {
  border: 2px solid $color-firm-list-border-grey;
  border-bottom: 0;
  margin: 0;
  padding: $baseline-unit*2;

  &:last-child {
    border-bottom: 2px solid $color-firm-list-border-grey;
  }
}

.firm-list__item__type {
  font-size: $baseline-unit*2;
  line-height: 1;
  margin-bottom: $baseline-unit*1;
  text-transform: uppercase;
}

.firm-list__item__name {
  font-weight: bold;
}
