.firm {
  background-color: $background-color--light;
  padding: $baseline-unit*6;
  margin: 0 0 $baseline-unit*6 0;
  position: relative;

  @include respond-to($mq-m) {
    padding-right: $baseline-unit*37;
  }
}

.firm__title {
  @include body(22,30);
  color: $firm-heading-color;
  color: $color-black-two;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}

.firm__number {
  font-weight: 500;
  margin-bottom: 0;
  color: $firm-number-color;
}

.firm__button {
  margin-top: $baseline-unit*2;

  @include respond-to($mq-m) {
    position: absolute;
    right: $baseline-unit*6;
    top: 50%;
    margin-top: -$baseline-unit*4;
  }
}
