<div class="container">
  <% if flash.notice %>
    <div class="t-flash-message alert alert-warning" role="alert">
      <%= flash.notice %>
    </div>
  <% end %>

  <%= yield %>
</div>

<footer class="footer">
  <div class="container">
    <p class="text-muted">Money Advice Service <%= DateTime.now.year %></p>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<%= javascript_include_tag('admin') %>
