<div class="container">
  <% if flash.notice %>
    <div class="t-flash-message alert alert-warning" role="alert">
      <%= flash.notice %>
    </div>
  <% end %>

  <%= yield %>
</div>

<footer class="footer">
  <div class="container">
    <p class="text-muted">Money &amp; Pensions Service <%= DateTime.now.year %></p>
  </div>
</footer>

<%= javascript_include_tag('admin') %>
