<% if display_adviser_sign_in? %>
<div class="l-adviser-sign-in">
  <div class="l-constrained">
    <a href="" class="l-adviser-sign-in__link"><%= t('adviser_sign_in') %></a>
  </div>
</div>
<% end %>
