<div class="l-context-bar">
  <div class="l-constrained">
    <nav class="breadcrumbs" role="navigation" aria-label="breadcrumbs">
      <ul class="unstyled-list">
        <% last_link = breadcrumbs.pop %>
        <% breadcrumbs.each do |breadcrumb| %>
          <li class="breadcrumbs__item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a class="breadcrumbs__link" href="<%= breadcrumb[:url] %>" itemprop="url">
              <span itemprop="title">
                <%= t(breadcrumb[:locale_key]) %>
              </span>
            </a>
            <span class="breadcrumbs__divider" aria-hidden="true"></span>
          </li>
        <% end %>

        <li class="breadcrumbs__item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
          <span class="visually-hidden">&gt;</span>
            <span itemprop="title">
              <%= t(last_link[:locale_key]) %>
            </span>
        </li>
      </ul>
    </nav>
  </div>
</div>
