<footer class="l-footer">
  <div class="l-constrained">
    <div class="l-constrained__padded">
    <p class="smallprint">Brought to you by the <a href="https://www.moneyadviceservice.org.uk">Money Advice Service</a>.</p>
  </div>
  </div>
</footer>
