<footer class="l-footer">
  <% if display_primary_footer? %>
  <div class="l-footer-primary t-footer-primary">
    <div class="l-constrained">
      <div class="l-footer-primary__left">
        <form accept-charset="UTF-8" action="/en/newsletter-subscription" class="newsletter-signup t-newsletter" data-remote="true" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /></div>
          <input id="authenticity_token" name="authenticity_token" type="hidden" value="jMgYS7O/q5H1zyKln7E+Ok+8E59JxkQjpm0g6gZbRa4=" />
          <h2 aria-level="2" class="newsletter-signup__heading" role="heading">Newsletter</h2>

          <ul class="newsletter-signup__benefits-list list-benefits">
            <li>Top tips on managing money</li>
            <li>Useful tools and money news</li>
            <li>All free and unbiased</li>
          </ul>

          <fieldset class="newsletter-signup__form js-newsletter-form" id="newsletter_signup">
            <a href="https://www.moneyadviceservice.org.uk/en/static/contact-us#newsletter_signup" class="t-newsletter-button button newsletter-signup__button newsletter-signup__button--third-party">Sign up to our free newsletter</a>
          </fieldset>
        </form>
      </div>

      <div class="l-footer-primary__right">
        <nav role="navigation" aria-label="footer">
          <ul class="l-footer-primary__list l-footer-primary__list--left">
            <li class="footer-primary__list-item">
              <a href="https://www.moneyadviceservice.org.uk/en/static/about-us">About us</a>
            </li>

            <li class="footer-primary__list-item">
              <a href="https://www.moneyadviceservice.org.uk/en/static/media-centre">Media centre</a>
            </li>

            <li class="footer-primary__list-item t-partners-link">
              <a href="https://www.moneyadviceservice.org.uk/en/categories/partners">Partners</a>
            </li>

            <li class="footer-primary__list-item">
              <a href="https://www.moneyadviceservice.org.uk/en/static/jobs">Jobs</a>
            </li>
          </ul>

          <ul class="l-footer-primary__list l-footer-primary__list--right">
            <li class="footer-primary__list-item">
              <a href="https://www.moneyadviceservice.org.uk/en/categories/our-debt-work">Our debt work</a>
            </li>

            <li class="footer-primary__list-item">
              <a href="https://www.moneyadviceservice.org.uk/en/categories/tools-and-calculators">Tools &amp; calculators</a>
            </li>

            <li class="footer-primary__list-item">
              <a href="https://www.moneyadviceservice.org.uk/en/news">News &amp; features</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
<% end %>

  <div class="l-footer-secondary t-footer-secondary">
    <div class="l-constrained">

      <div class="l-footer-secondary__list--left">
        <ul class="footer-secondary__list">

          <li class="footer-secondary__list-item l-language-link">
            <a class="t-cy-link" href="https://www.moneyadviceservice.org.uk/cy/empty" lang="cy">
              <span class="icon icon--globe"></span>
              Cymraeg
            </a>        </li>

            <li class="footer-secondary__list-item accessibility-feedback-link">
              <a class="footer-secondary__link" href="http://accessin.org/usersubmit_mas.php?param=nojscript"
              onclick="window.open('http://accessin.org/usersubmit_mas.php?param=' + window.location,'',
              'resizable=yes,location=no,scrollbars=yes,toolbar=no,left=20,top=0,height=900,width=800');
              return false;" title="Please use this button to tell us if you have an accessibility issue on our website"
              target="_blank">
              <span class="icon icon--accessibility"></span>Report an accessibility problem
              <span class="visually-hidden">Feedback form opens in a new window</span>
            </a>
          </li>

        </ul>
      </div>

      <div class="l-footer-secondary__list--right">
        <ul class="footer-secondary__list">

          <li class="footer-secondary__list-item">
            <a href="https://www.moneyadviceservice.org.uk/en/static/contact-us">Contact us</a>
          </li>

          <li class="footer-secondary__list-item">
            <a class="footer-secondary__link" href="https://www.moneyadviceservice.org.uk/en/static/terms-and-conditions">Terms &amp; conditions</a>
          </li>

          <li class="footer-secondary__list-item">
            <a class="footer-secondary__link" href="https://www.moneyadviceservice.org.uk/en/static/privacy">Privacy</a>
          </li>

          <li class="footer-secondary__list-item">
            <a class="footer-secondary__link" href="https://www.moneyadviceservice.org.uk/en/static/accessibility">Accessibility</a>
          </li>

          <li class="footer-secondary__list-item">
            <a class="footer-secondary__link" href="https://www.moneyadviceservice.org.uk/en/static/cookie_notice_en">Cookies</a>
          </li>

          <li class="footer-secondary__list-item">
            <a class="footer-secondary__link" href="https://www.moneyadviceservice.org.uk/en/sitemap">Sitemap</a>
          </li>

        </ul>
      </div>
    </div>
  </div>


</footer>
