<footer class="l-footer">
  <div class="l-constrained">
    <div class="l-footer__inner">
      <p class="l-footer__text"><%= t('footer.text') %> <%= mail_to @admin_email_address, @admin_email_address %></p>
    </div>
  </div>
</footer>
