<header class="l-header" role="banner">
  <div class="l-constrained">
    <div class="mas-logo">
      <a class="mas-logo__link" href="/">
        <img alt="Money Advice Service" class="mas-logo__img" src="https://6716c801720b2d014ddd-90dd74bb468e514261468bbc28ae4817.ssl.cf3.rackcdn.com/a/logo-sprite-en-2af50b7bcc1be59e7b73b24de1ea78ae.png" />
      </a>
    </div>
    <%= render 'shared/navigation' %>
  </div>
</header>
