<header class="l-header" role="banner">
  <div class="l-constrained l-header__content">
    <div class="mas-logo">
      <a class="mas-logo__link" href="/"></a>
    </div>
    <%= render 'shared/navigation' %>
  </div>
</header>
