<div class="rad-notification">
  <div class="rad-notification__content-container rad-notification__content-container--onboarding">
    <strong class="rad-notification__heading"><%= t('self_service.onboarding.title') %></strong>
      <%= content_tag :p, t('self_service.onboarding.message').html_safe, class: 'rad-notification__message' %>
  </div>
</div>
