<div class="global-alert global-alert--onboarding">
  <div class="global-alert__content-container global-alert__content-container--onboarding">
    <strong class="global-alert__heading"><%= t('self_service.onboarding.title') %></strong>
      <%= content_tag :p, t('self_service.onboarding.message').html_safe, class: 'global-alert__message' %>
  </div>
</div>
