<div class="panel">
  <div class="panel__heading">
    <%= t('authentication.password_policy.label') %>
  </div>
  <div>
    <%= t('authentication.password_policy.criteria_intro') %>
    <ul class="password-policy__list">
      <% t('authentication.password_policy.criteria').each do |criteria| %>
        <li class="password-policy__list_item"><%= criteria %></li>
      <% end %>
    </ul>
  </div>
</div>
