<header class="l-header" role="banner">
  <div class="l-constrained l-header__content">
    <div class="mas-logo">
      <a class="mas-logo__link" href="/travel_insurance_registrations/new">
        <img alt="Money Advice Service" class="mas-logo__img" src="https://legacymasassets.blob.core.windows.net/webfeeds-assets/a/logo-sprite-en-f13de50d8bcd8dbbabfbe56b441a8633.png" />
      </a>
    </div>
    <%= render('shared/travel_navigation') %>
  </div>
</header>
