<tr>
  <td><%= link_to principal.firm.registered_name, admin_retirement_firm_path(principal.firm) %></td>
  <td><%= principal.fca_number %></td>
  <td><%= link_to "#{principal.first_name} #{principal.last_name}", admin_retirement_principal_path(principal) %></td>
  <td><%= principal.created_at.strftime("%d %b %Y") %></td>
</tr>
