<ul class="inline-list-with-separator">
  <li>
    <%= link_to self_service_firm_advisers_path(firm) do %>
      <%= t('activerecord.models.adviser.other') %>
      (<%= firm.advisers.count %>)
    <% end %>
  </li>
</ul>
