<li class="dashboard-list__item t-adviser">
  <div class="dashboard-list__item__type">
    <%= adviser.model_name.human %>
  </div>
  <div class="dashboard-list__item__name t-name">
    <%= adviser.name %>
  </div>
</li>
