<%= render_breadcrumbs [{ locale_key: 'self_service.navigation.root', url: self_service_root_path },
                        { locale_key: 'self_service.navigation.advisers', url: self_service_advisers_path },
                        { name: t('self_service.adviser_edit.title', adviser_name: @adviser.name, adviser_reference_number: @adviser.reference_number) }] %>

<div class="l-constrained">
  <h1 class="t-firm-name">
    <%= t('self_service.adviser_edit.edit_adviser_heading') %>
  </h1>

  <%= form_for @adviser,
               url: self_service_firm_adviser_path(@firm, @adviser),
               builder: Dough::Forms::Builders::Validation,
               html: { class: 'form' } do |f| %>

    <%= render partial: 'self_service/advisers/form', locals: {f: f} %>

  <% end %>
</div>
