<div class="l-constrained">
  <h1 class="t-firm-name">
    <%= t('dashboard.adviser_edit.edit_adviser_heading') %>
  </h1>

  <%= form_for @adviser,
               url: self_service_firm_adviser_path(@firm, @adviser),
               builder: Dough::Forms::Builders::Validation,
               html: { class: 'form' } do |f| %>

    <%= render partial: 'self_service/advisers/form', locals: {f: f} %>

  <% end %>
</div>
