<div class="l-constrained l-error">
  <h1>We're sorry. Something seems to have gone wrong.</h1>
  <p class="l-error__description">This is a problem at our end. Try again later and we will hope to have fixed it.</p>

  <section class="l-error__useful-links">
    <h2 class="l-error__useful-links-heading">Useful links</h2>
    <ul class="l-error__list">
      <li class="l-error__list-item"><a class="l-error__link" href="/">Return to the Retirement Advice Directory homepage</a></li>
      <li class="l-error__list-item"><a class="l-error__link" href="https://www.moneyhelper.org.uk">Go to the MoneyHelper homepage</a></li>
    </ul>
  </section>
</div>
