<div class="l-constrained l-error">
  <h1>We're sorry. We can't find that page.</h1>
  <p class="l-error__description">Please check the address you entered or try again later and you should be able to find it.</p>

  <section class="l-error__useful-links">
    <h2 class="l-error__useful-links-heading">Useful links</h2>
    <ul class="l-error__list">
      <li class="l-error__list-item"><a class="l-error__link" href="/">Return to the Retirement Advice Directory homepage</a></li>
      <li class="l-error__list-item"><a class="l-error__link" href="https://www.moneyhelper.org.uk">Go to the MoneyHelper homepage</a></li>
    </ul>
  </section>
</div>
