<div class="l-pre-qualification--restricted-width">
  <%= heading_tag(t('rejection.heading'), level: 1) %>

  <p><%= t('rejection.travel_insurance.subheading') %></p>
  <p><%= t('rejection.travel_insurance.secondary_message') %> <%= mail_to admin_email_address%></p>
</div>
