<div class="l-pre-qualification--restricted-width">
  <%= heading_tag(t('rejection.travel_insurance.reregistration.heading'), level: 1) %>
  <%= t('rejection.travel_insurance.reregistration.subheading_html') %>
</div>
