<h1>Retirement Adviser Directory Registration</h1>
<div>
  We haven't been able to verify your Firm Reference Number against the FCA register. Please contact us at radenquiries@moneyadviceservice.org.uk and we will help you with your registration.
</div>
