<h1>Retirement Adviser Directory Registration</h1>
<div>
  We haven't been able to verify your Firm Reference Number against the FCA register. Please contact us at <%= @admin_email_address %> and we will help you with your registration.
</div>
