<h2>Out of Date Firms</h2>

<div>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#report" aria-controls="report" role="tab" data-toggle="tab">Report</a></li>
    <li role="presentation"><a href="#ignored" aria-controls="ignored" role="tab" data-toggle="tab">Ignored Names</a></li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="report">
      <br>
      <p>
        This report shows all firms where the registered name no longer matches FCA records.
      </p>

      <table class="table table-bordered">
        <tr>
          <th>FRN</th>
          <th>Name in directory</th>
          <th>Name in the last FCA import</th>
        </tr>
        <% if @firms.present? %>
          <% @firms.each do |firm| %>
            <tr>
              <td><%= firm[0] %></td>
              <td><%= link_to firm[1], admin_firm_path(firm[2]) %></td>
              <td><%= firm[3] %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="3">No advisers to display</td>
          </tr>
        <% end %>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="ignored">
      <br>
      <p>List of names ignored in the report.</p>
      <table class="table table-bordered">
        <tr>
          <th>Name</th>
        </tr>
        <% Admin::Reports::OutOfDateFirmsController::REGISTERED_NAMES_TO_IGNORE.each do |name| %>
          <tr>
            <td><%= name %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
