---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=EH1%202AS,%20United%20Kingdom&key=<API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "EH1 2AS",
                       "short_name" : "EH1 2AS",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Rutland Square",
                       "short_name" : "Rutland Square",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Edinburgh",
                       "short_name" : "Edinburgh",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Edinburgh",
                       "short_name" : "Edinburgh",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Scotland",
                       "short_name" : "Scotland",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Rutland Square, Edinburgh EH1 2AS, UK",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 55.9488141,
                          "lng" : -3.2077942
                       },
                       "southwest" : {
                          "lat" : 55.9478422,
                          "lng" : -3.2091178
                       }
                    },
                    "location" : {
                       "lat" : 55.948396,
                       "lng" : -3.2083946
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 55.9496771302915,
                          "lng" : -3.207107019708498
                       },
                       "southwest" : {
                          "lat" : 55.9469791697085,
                          "lng" : -3.209804980291502
                       }
                    }
                 },
                 "place_id" : "ChIJwaJxwaLHh0gRo361f5omYsw",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 25 Mar 2019 15:22:14 GMT
recorded_with: VCR 4.0.0
