---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=EH11%202AB,%20United%20Kingdom&key=<API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "EH11 2AB",
                       "short_name" : "EH11 2AB",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Dalry Road",
                       "short_name" : "Dalry Rd",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Edinburgh",
                       "short_name" : "Edinburgh",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Edinburgh",
                       "short_name" : "Edinburgh",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Scotland",
                       "short_name" : "Scotland",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Dalry Rd, Edinburgh EH11 2AB, UK",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 55.9438064,
                          "lng" : -3.2188316
                       },
                       "southwest" : {
                          "lat" : 55.9432048,
                          "lng" : -3.219752
                       }
                    },
                    "location" : {
                       "lat" : 55.9435847,
                       "lng" : -3.2192057
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 55.9448545802915,
                          "lng" : -3.217942819708498
                       },
                       "southwest" : {
                          "lat" : 55.9421566197085,
                          "lng" : -3.220640780291502
                       }
                    }
                 },
                 "place_id" : "ChIJKQxzD6bHh0gRyUDWgg-clYQ",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 25 Mar 2019 15:22:57 GMT
recorded_with: VCR 4.0.0
