---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=120%20Holborn,%20London,%20EC1N%202TD,%20United%20Kingdom&key=<API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "120",
                       "short_name" : "120",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Holborn",
                       "short_name" : "Holborn",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "London",
                       "short_name" : "London",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Greater London",
                       "short_name" : "Greater London",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "England",
                       "short_name" : "England",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "EC1N 2TD",
                       "short_name" : "EC1N 2TD",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "120 Holborn, London EC1N 2TD, UK",
                 "geometry" : {
                    "location" : {
                       "lat" : 51.5180967,
                       "lng" : -0.1080739
                    },
                    "location_type" : "ROOFTOP",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 51.5194456802915,
                          "lng" : -0.106724919708498
                       },
                       "southwest" : {
                          "lat" : 51.5167477197085,
                          "lng" : -0.1094228802915021
                       }
                    }
                 },
                 "place_id" : "ChIJ1y3irE0bdkgRz3w__Q4S9sI",
                 "plus_code" : {
                    "compound_code" : "GV9R+6Q City of London, London, United Kingdom",
                    "global_code" : "9C3XGV9R+6Q"
                 },
                 "types" : [ "street_address" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 25 Mar 2019 15:25:29 GMT
recorded_with: VCR 4.0.0
