<div class="l-constrained">
  <h1 class="t-firm-name">
    <%= @firm.registered_name %>
  </h1>

  <%= form_for @firm,
               url: self_service_trading_name_path(@firm),
               builder: Dough::Forms::Builders::Validation,
               html: { class: 'form' } do |f| %>

    <%= render partial: 'self_service/firms/form', locals: {f: f} %>

  <% end %>
</div>
