<div class="l-constrained">
  <div class="l-heading-with-inline-links">
    <h1 class="t-firm-name">
      <%= @firm.registered_name %>
    </h1>
    <%= render partial: 'self_service/firms/questionnaire/links', locals: {firm: @firm} %>
  </div>

  <%= form_for @firm,
               url: self_service_trading_name_path(@firm),
               builder: Dough::Forms::Builders::Validation do |f| %>

    <%= render partial: 'self_service/firms/form', locals: {f: f} %>

  <% end %>
</div>
