<ul class="firm-detail-links">
  <li class="firm-detail-links__item">
    <%= link_to 'Subsidiaries (2)', '#' %>
  </li>
  <li class="firm-detail-links__item">
    <%= link_to 'Advisers (2)', '#' %>
  </li>
</ul>
