<div class="row">
  <div class="col-xs-10 col-xs-push-2">
    <h1>
      FCA Import
      <small>(lookup data)</small>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-2">
  </div>
  <div class="col-xs-10">
    <table class="table table-bordered">
      <tr>
        <th>Filename</th>
        <th>Action</th>
      </tr>
      <% if @files.blank? %>
        <tr>
          <td colspan="2">No files to display</td>
        </tr>
      <% else %>
        <% @files.each do |file| %>
          <tr>
            <td>
              <%= file %>
            </td>
            <td>
              <%= check_box_tag(file) %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>

  </div>
</div>
