<h1>FCA Import: Part 1</h1>

<p>
  Upload firm data from FCA download: Please upload the file ending with ......a.zip
</p>

<%= form_tag upload_firms_admin_lookup_fca_import_index_path, multipart: true do %>
  <p>
    <%= file_field_tag "zip_file" %>
  </p>
  <p>
    <label>Each file takes a while to upload and process, we'll send you an email after each one is complete. <br/>Can you tell us what your email address is please? </label><br/>
    <%= text_field_tag "email" %>
  </p>
  <p>
    <%= submit_tag 'Upload' %>
  </p>
<% end %>
