<h1>New Firm notification</h1>
<div>
  A new firm has been registered in the directory:

  <% if @firm.is_a?(TravelInsuranceFirm) %>
    <%= link_to(@firm.registered_name, admin_travel_insurance_firm_url(@firm.id)) %>
  <% else %>
    <%= link_to(@firm.registered_name, admin_retirement_firm_url(@firm.id)) %>
  <% end %>
</div>
