.advisers-table {
  width: 100%;

  .advisers-table__reference-number {
    width: 10%;
  }

  .advisers-table__name {
    width: 60%;
  }

  .advisers-table__postcode {
    width: 10%;
  }

  .advisers-table__action {
    width: 20%;
  }
}
