.firm-detail-links {
  @extend .unstyled-list;
  clear: both;
  text-align: center;
  margin-bottom: $baseline-unit*4;
}

.firm-detail-links__item {
  display: inline-block;
  border-right: 1px solid $color-true-black;
  padding-right: $baseline-unit;

  &:last-of-type {
    border-right: 0;
  }
}
