.navigation {
  @extend .unstyled-list;
  float: right;
  margin-top: $baseline-unit*2.5;
  padding-right: 0.5em;

  @include respond-to($mq-m) {
    margin-top: $baseline-unit*3;
  }
}

%navigation-item {
  @include inline-block;
  line-height: 1;
  border-left: 1px solid $color-primary-nav;
  padding: 0 .25em 0 .5em;
}

.navigation__item {
  @extend %navigation-item;
}

.navigation__item:first-child {
  border-left: 0;
}

.navigation__item--desktop-only {
  @extend %navigation-item;
  display: none;

  @include respond-to($mq-m) {
    @include inline-block;
  }
}

.navigation__link,
.navigation__item > a {
  @extend .unstyled-button;
  @extend %font-heading-medium;
  @include body(14, 14);
  color: $color-white;

  &:hover{
    outline: none;
    text-decoration: underline;
    color: $color-white;
  }

  &:visited {
    color: $color-white;
  }
}
