.navigation {
  @extend .unstyled-list;
  text-align: right;
  margin-top: 22px;
}

%navigation-item {
  @include inline-block;
  line-height: 1;
  border-right: 1px solid $color-primary-nav;
  padding: 0 $baseline-unit*1.5 0 $baseline-unit*0.7;
}

.navigation__item {
  @extend %navigation-item;
}

.navigation__item--last {
  @extend %navigation-item;
  border-right: 0;

  @include respond-to($mq-m) {
    border-right: 1px solid $color-primary-nav;
  }
}

.navigation__item--desktop-only {
  @extend %navigation-item;
  display: none;

  @include respond-to($mq-m) {
    @include inline-block;
  }
}

.navigation__item--desktop-only--last {
  @extend .navigation__item--desktop-only;
  border-right: 0;
}

.navigation__item-divider {
  margin: 0 $baseline-unit;
}

.navigation__link,
.navigation__item > a {
  @extend .unstyled-button;
  @extend %font-heading-medium;
  @include body(14, 14);
  color: $color-white;

  &:hover,
  &:focus {
    outline: none;
    text-decoration: underline;
  }

  &:visited {
    color: $color-white;
  }
}
