.offices-table {
  width: 100%;

  .offices-table__address {
    width: auto;
  }

  .offices-table__address-postcode {
    width: 8%;
  }

  .offices-table__telephone-number {
    width: 12%;
  }

  .offices-table__email-address {
    width: auto;
  }

  .offices-table__disabled-access {
    width: 8%;
  }

  .offices-table__action {
    width: 12%;
  }
}
