.status__icon {
  height: $status-icon-size;
  margin-right: 4px;
  vertical-align: middle;
  width: $status-icon-size;
}

.status__icon--exclamation {
  fill: $color-yellow-dark;
}

.status__icon--tick, .status__overall-status--published {
  fill: $color-green-secondary;
}

.status__overall-status {
  @include clearfix;
  border-bottom: 1px solid $color-grey-light;
  font-weight: bold;
  line-height: 3;
  margin-bottom: $baseline-unit*2;
  padding: 0 $baseline-unit;
}

.status__overall-status--unpublished {
  background-color: $color-yellow-dark;
  border: none;
  color: $color-white;

  & > .status__icon--exclamation {
    fill: $color-white;
  }
}

.status__row {
  @include clearfix;
  padding-bottom: $baseline-unit;
}
