.status__overall-status {
  @include clearfix;
  border-bottom: 1px solid grey;
  font-weight: bold;
  line-height: 3;
  margin-bottom: $baseline-unit*2;
  padding: 0 $baseline-unit;
}

.status__icon {
  height: 20px;
  margin-right: 4px;
  vertical-align: middle;
  width: 20px;
}

.status__overall-status--unpublished {
  background-color: $color-yellow-dark;
  border: none;
  color: $color-white;
  fill: $color-white;
}

.status__overall-status--published {
  fill: $color-green-secondary;
}
