@import 'dough/assets/stylesheets/lib';
@import 'dough/assets/stylesheets/common';
@import 'dough/assets/stylesheets/optional';
@import 'yeast/assets/lib/all';

@import 'settings';

@import 'states/hidden';

@import 'layouts/advisers_table';
@import 'layouts/constrained';
@import 'layouts/dashboard';
@import 'layouts/firm';
@import 'layouts/footer';
@import 'layouts/half_width';
@import 'layouts/header';
@import 'layouts/heading_with_button';
@import 'layouts/identity';
@import 'layouts/notice';
@import 'layouts/pre_qualification_questions';
@import 'layouts/questionnaire';
@import 'layouts/rows';
@import 'layouts/top_right_action';

@import 'components/button';
@import 'components/firm_detail_links';
@import 'components/firm/all';
@import 'components/firm_filter';
@import 'components/firm_list/all';
@import 'components/footnote';
@import 'components/form/all';
@import 'components/navigation';
@import 'components/notice/all';
@import 'components/form_section';

@import 'page_specific/dashboard';

// Shame

.is-errored .form__input-container .form__input-label {
  // This is to override an error on text boxes that contain an % label.
  // When errored the % is pushed out of the box. Seems to be a Dough-based error.
  // Is there an error with how this component is laid out which is causing this?
  padding-left: 0;
  padding-right: 5px;
}

html.dev .translation_missing {
  color: #f00 !important;
}
