<% if principal.next_onboarding_action == :complete_a_firm %>
  <div class='onboarding-message callout'>
    <p>
      Please add information about your firm to make it visible to potential customers.
    </p>
  </div>
<% end %>
