<section class="firm t-subsidiary">
  <%= heading_tag(subsidiary.name, level: 3, class: 'firm__title') %>
  <div class="firm__button">
    <%= link_to t('firms.select_firm'), '', class: 'button button--primary t-subsidiary-questionnaire' %>
  </div>
</section>
