<section class="firm t-subsidiary">
  <%= heading_tag(subsidiary.name, level: 3, class: 'firm__title') %>
  <div class="firm__button">
    <%= button_to(
      t('firms.select_firm'),
      convert_principal_firm_subsidiary_path(
        current_user,
        current_user.firm,
        subsidiary
      ),
      class: 'button button--primary t-subsidiary-questionnaire'
    ) %>
  </div>
</section>
