<% if user_for(principal).present? %>
  <h2>Sign in as Principal</h2>

  <%= form_tag(admin_user_session_path(user_for(principal))) do %>
    <%= submit_tag "Access RAD as #{principal.full_name}", class: 't-sign-in-as-principal' %>
  <% end %>
<% end %>
