<% content_for :content do %>
<section class="l-identity">
  <%= heading_tag(t(registration_title), level: 1) %>
  <p><%= t('travel_insurance_registrations.intro') %></p>

  <%= content_for?(:registration_form) ? yield(:registration_form) : yield %>
</section>
<% end %>
<%= render template: "layouts/application" %>
